@import "@argdown/web-components/style.css";
/* Define CSS variables in :root */
:root {
  /*--vp-layout-max-width: 100%;*/
  --vp-c-accent-color: #3e8eaf;
  --vp-c-text-color: #2c3e50;
  /*--vp-c-border-color: #eaecef;*/
  /*--vp-c-code-bg-color: #232230;
  --vp-c-code-color: #000;*/

  /* Default theme overrides */
  --vp-c-default-1: var(--vp-c-text-color);
  --vp-c-default-2: #4e6e8e; /* Adjusted for button list text */
  --vp-c-default-3: var(--vp-c-accent-color);
  /*--vp-c-default-soft: #f4f4f4;*/

  --vp-c-brand-1: var(--vp-c-accent-color);
  --vp-c-brand-2: #387e9c; /* Hover state for buttons */
  --vp-c-brand-3: var(--vp-c-accent-color);
  /*--vp-c-brand-soft: #f4f4f4;*/
  /*
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);*/

  --vp-c-warning-1: var(--vp-c-border-color);
  --vp-c-warning-2: #e6b800;
  --vp-c-warning-3: #ffcc00;
  /*--vp-c-warning-soft: #fff8e1;*/

  --vp-c-danger-1: #d32f2f;
  --vp-c-danger-2: #c62828;
  --vp-c-danger-3: #b71c1c;
  /*--vp-c-danger-soft: #ffebee;*/
}

argdown-map a {
  text-decoration: none !important;
  font: initial;
}

/* Override argdown code blocks to enable dark mode */

.argdown-figure {
  border-color: var(--vp-c-border) !important;
  background-color: var(--vp-c-bg) !important;
}
:root {
  --argdown-bg-color: var(--vp-c-bg);
  --argdown-border-color: var(--vp-c-border);
  --argdown-logo-color: var(--vp-c-logo);
  --argdown-logo-bg-color: rgba(var(--vp-c-bg-rgb), 0.8);
  --argdown-button-bg-color: var(--vp-c-btn-bg);
  --argdown-button-bg-hover-color: var(--vp-c-btn-bg-hover);
  --argdown-button-border-bottom-color: var(--vp-c-btn-border);
  --argdown-button-font-color: var(--vp-c-btn-color);
  --argdown-notification-font-color: var(--vp-c-brand);

  --argdown-source-color: var(--vp-c-text-1);
  --argdown-section-color: var(--vp-c-code-section, #6d6d5d);
  --argdown-meta-color: var(--vp-c-code-meta, #9b9b85);
  --argdown-comment-color: var(--vp-c-code-comment, #998);
  --argdown-string-color: var(--vp-c-code-string, #3b95bc);
  --argdown-link-color: var(--vp-c-link, #134c66);
  --argdown-support-color: var(--vp-c-success, #4ea429);
  --argdown-attack-color: var(--vp-c-danger, #c24545);
  --argdown-undercut-color: var(--vp-c-purple, #c227a7);
}

/*End argdown code block override*/

.latest-news {
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
  margin-top: -1.5rem;
}

body.noscroll {
  overflow: hidden;
}

/* General styles */
.content:not(.custom) > h2,
.content:not(.custom) > h3,
.content:not(.custom) > h4,
.content:not(.custom) > h5,
.content:not(.custom) > h6 {
  margin-bottom: 1.2rem;
}

p + h2 {
  margin-top: 3rem;
}

h3 {
  margin-top: 3rem;
}

.navbar .site-name {
  padding-left: 65px;
  background: url("/argdown-mark.svg");
  background-size: 55px;
  background-repeat: no-repeat;
}

h3 em {
  display: inline-block;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: var(--vp-c-accent-color);
  color: #fff;
  margin-right: 1rem;
  font-weight: bold;
  font-style: normal;
}

/* Table styles */
table {
  margin: 2rem 0;
  table-layout: fixed;
}

table td {
  width: 2%;
  line-height: 1.7;
}

/* Code block styles */
.theme-default-content pre code.language-argdown {
  color: var(--vp-c-code-color);
}

.theme-default-content pre.language-argdown {
  color: var(--vp-c-code-color);
  background-color: var(--vp-c-code-bg-color);
  margin: 0;
}

/* Header styles */
.theme-default-content:not(.custom) > h1,
.theme-default-content:not(.custom) > h2,
.theme-default-content:not(.custom) > h3,
.theme-default-content:not(.custom) > h4,
.theme-default-content:not(.custom) > h5,
.theme-default-content:not(.custom) > h6 {
  margin-top: -3.1rem;
  padding-top: 4.6rem;
  margin-bottom: 1rem;
}

/* Page styles */
main.page {
  margin-top: 3.6rem;
}
