argdown-map code.language-argdown {
	color: var(--argdown-source-color, #000);
	font-family:
		Consolas,
		Monaco,
		Andale Mono,
		Ubuntu Mono,
		monospace;
	line-height: 1.4;
	display: block;
	/*background-color: orange;*/
	width: 100%;
	padding: 1.25rem 1.5rem;
	box-sizing: border-box;
}
argdown-map .argvu code.language-argdown {
	font-family:
		'ArgVu Sans Mono Regular',
		Consolas,
		Monaco,
		Andale Mono,
		Ubuntu Mono,
		monospace;
	font-variant-ligatures: discretionary-ligatures;
	font-feature-settings: 'liga', 'dlig';
	font-size: 0.8rem;
}
argdown-map code.language-argdown .hljs-section {
	color: var(--argdown-section-color, #6d6d5d);
	font-weight: bold;
}
argdown-map code.language-argdown .hljs-meta {
	color: var(--argdown-meta-color, #9b9b85);
	font-weight: normal;
}
argdown-map code.language-argdown .hljs-comment,
code.language-argdown .hljs-quote {
	color: var(--argdown-comment-color, #998);
	font-style: italic;
}
argdown-map code.language-argdown .hljs-string,
code.language-argdown .hljs-tag {
	color: var(--argdown-string-color, #3b95bc);
	font-weight: normal;
}
argdown-map code.language-argdown .hljs-link {
	color: var(--argdown-link-color, #134c66);
	font-weight: normal;
}
argdown-map code.language-argdown .hljs-support {
	color: var(--argdown-support-color, #4ea429);
	font-weight: bold;
}
argdown-map code.language-argdown .hljs-attack,
argdown-map code.language-argdown .hljs-contradiction {
	color: var(--argdown-attack-color, #c24545);
	font-weight: bold;
}
argdown-map code.language-argdown .hljs-undercut {
	color: var(--argdown-undercut-color, #c227a7);
	font-weight: bold;
}
argdown-map code.language-argdown .hljs-statement-title {
	color: var(--argdown-string-color, #3b95bc);
	font-weight: bold;
}
argdown-map code.language-argdown .hljs-argument-title,
argdown-map code.language-argdown .hljs-inference,
argdown-map code.language-argdown .hljs-argument-statement-nr {
	color: var(--argdown-link-color, #134c66);
	font-weight: bold;
}
